zips
data
__pycache__
*.sqlite3.DS_Store
*~
*.csv
*.zip
*.log
.DS_Store
*.sqlite3
*.log
*.zip
sf1/
sf2/
pl94/
.cache
TAGS
logs/
shell.out*
\#*
recon/logs
recon.bash
*.xlsx
./*.pdf
*.sqlite3-journal
x.*
*.db
*.sqlite3
*.sqlite3.gz
