boto3==1.26.123
botocore==1.29.123
chardet==5.1.0
gurobipy==10.0.1
hdfs==2.7.0
ipython==8.13.0
Jinja2==3.1.2
joblib==1.2.0
matplotlib==3.7.1
mypy_boto3_s3==1.26.116
numpy==1.23.3
openpyxl==3.1.2
pandas==1.4.3
psutil==5.9.5
pymysql==1.0.3
PyPDF2==3.0.1
pyspark==3.1.2
pytest==7.3.1
python_dateutil==2.8.2
PyYAML==6.0
Requests==2.29.0
scipy==1.10.1
setuptools==63.2.0
tqdm==4.65.0
ttable==0.6.4
typing_extensions==4.5.0
urllib3==1.26.10
z3==0.2.0
